<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Task 7</title>
</head>
<body>
    <div id="app">
       <div>
        <label>
          Search by name
          <input type="text" placeholder="Name" v-model.trim="searchPart">
        </label>
        <div v-if="!filteredList.length && !searchPart" >
          <div v-for="employee in employeesList" :key="employee.id">
              {{employee.name}}
          </div>
        </div>
        <div v-else-if="filteredList.length">
          <div v-for="employee in filteredList" :key="employee.id">
            {{employee.name}}
          </div>
        </div>
        <div v-else>
          Nothing was found
        </div>
       </div>
    </div>

    <script>
        const { createApp } = Vue
      
        createApp({
          data() {
            return {
              searchPart: '',
              employeesList: [
                {
                  id: 1,
                  name: 'Ivan',
                },
                {
                  id: 2,
                  name: 'Oleg',
                },
                {
                  id: 2,
                  name: 'Vlad',
                },
                {
                  id: 2,
                  name: 'Nick',
                }],
            }
          },
          methods: {
            
          },
          computed: {
            filteredList(){
                return this.employeesList.filter(el => el.name.toLowerCase().includes(this.searchPart.toLowerCase()))
          }
        }
        }).mount('#app')
      </script>
</body>
</html>